.section-about{
 background-color: $color-white;
 padding:25rem 0rem 0rem 0rem;
 margin-top: -20vh;
}
.section-business-proposition{
 background-color: $color-grey-light-1;
 margin-top: -10rem;
 padding: 10rem 0 25rem 0;
}
.section-features{
 padding: 20rem 0 25rem 0;
 background-image:
  linear-gradient(
   to right bottom,
   rgba($color-primary-light, .8),
   rgba($color-primary-dark, .8));
 background-size: cover;
 background-position: top;
 position: relative;
 transform: skewY(-7deg);
 margin-top: -10rem;
 & > * {
  transform: skewY(7deg);
 }
 z-index: 2
}
.section-industries{
 margin-top: -10rem;
 padding: 25rem 0 25rem 0;
 background-color: $color-grey-light-1;
 z-index: 1;
}
.section-contact{
 padding: 15rem 0;
 background-image: linear-gradient(
  to right bottom,
  $color-quad-light,
  $color-quad-dark
 );
}
.contact{
 background-image:
  linear-gradient(
  105deg,
  rgba($color-white, .9)0%,
  rgba($color-white, .9) 10%,
  transparent 30%),
  url(./img/contact_us.jpg);
 background-size: 125%;
 background-position: left .01rem bottom -10px;
  border-radius: $small-border-radius;
  box-shadow: 0 3rem 4rem rgba($color-black, .2);
  height: 50rem;
  &__form{
   width: 50%;
   padding: 6rem;
  }
}
