// Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

// Colors
$color-primary:#367588;
$color-primary-light:#4799b2;
$color-primary-dark:#30697a;

$color-secondary-light:#ff8d1b;
$color-secondary-dark:#f68b1f;

$color-tertiary-light: #9ced99;
$color-tertiary-dark: #7aba7a;

$color-quad-light: #74C2E1;
$color-quad-dark: #0191C8;

$color-white:#fff;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3: #333;

$color-black:#000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$default-font-size:1.6rem;

$small-border-radius: 3px;
